pci-project-new { /* stylelint-disable-line */
  @import '~bootstrap4/scss/_functions';
  @import '~bootstrap4/scss/_variables';
  @import "~bootstrap4/scss/mixins/_breakpoints";

  .pci-project-new {
    background-color: rgb(241, 249, 253);
    overflow-x: auto;

    .pci-project-new-view {
      padding: 0 200px;
    }

    small {
      line-height: 16px;
    }
  }
}
