pci-project-new-payment-register { /* stylelint-disable-line */
  .pci-project-new-payment-register {
    .oui-radio .oui-radio__label-container .oui-radio__label {
      margin: 0 auto;
      padding: 0;
      text-align: center;

      &::before, &::after {
        display: none;
      }
    }
  }
}
